<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/OrderConfirmation.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/formControl.js"></script>

  </head>

  <body>
    <h1>Order Confirmation</h1>
    <h2>Cart Details</h2>
    <form action="/confirmorder" method="POST">
      <section class ="Cart" id= "cart-container">
        <div class="cart-row">
          <span class="cart-item cart-header cart-column">ITEM</span>
          <span class="cart-price cart-header cart-column">PRICE</span>
          <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        
        <!-- for each to iterate over order and display items from index page -->
        <% orders.forEach((order)=> { %>

          <div class="cart-items">
            <div class="cart-row">
              <div class="cart-item cart-column">
                <span class="cart-item-title"><%= order.itemName %></span>
              </div>
                <span class="cart-price cart-column"><%= displayDollars(order.price) %></span>
              <div class="cart-quantity cart-column">
                    <input type="hidden" name="id" value="<%= order.itemID %>" />
                    <input class="cart-quantity-input"  type="text" value='<%= order.Qty %>' name="qty"/>
                    <button class="btn btn-remove-data"  type="button">REMOVE</button>
              </div>
            </div>
          </div>
        <% }); %>
    
      </section>
        
        <span id ="cartSubtotal" class="classPrice">Subtotal:<%= displayDollars(subtotal) %> </span> <br>
        <span id ="cartTaxes" class="classPrice">Taxes:<%= displayDollars(subtotal * 0.05) %></span> <br>
        <span id ="cartValue" class="classPrice">Order Total: <%= displayDollars(subtotal * 1.05) %></span> <br>
        <input type="hidden" id="totalprice" name="totalprice" value=<%= (subtotal * 1.05) %>>

      <h3>Order Contact Information</h3>
      <setion>  
        <div class="form-group mb-2">
          <label for="firstName">First Name:</label>
          <input id= "firstName" class="form-control" type="text" name="firstName" style="width: 150px; margin: 1em" />
          <label for="lastName">Last Name:</label>
          <input id="lastName" class="form-control" type="text" name="lastName" style="width: 150px; margin: 1em" />

          <br />
          <label for="phoneNumber">Phone Number:</label>
          <input id="phoneInput" class="form-control" type="text" name="phoneNumber" style="width: 150px; margin: 1em" />
        </div>
    
        <div>
          <p></p>
        </div>

        <input id="confirmOrder" type="submit" value="Confirm Order" />
      </section>
    </form>
  </body>
</html>