<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Naan Stop! Order Review</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/formControl.js"></script>
  </head>

  <body>
    <h1>Order Confirmation</h1>
    <h3>Cart Details</h3>
    <form action="/confirmorder" method="POST">
      <section class="cartContainer" id="menu_container">
        <div class="confirm_container">
          <div class="confirmColumnHead">ITEM/QTY</div>
          <div class="confirmColumnHead">PRICE</div>
        </div>
        
        <!-- for each to iterate over order and display items from index page -->
        <% orders.forEach((order)=> { %>

          <div>
            <div class="cart-item-row">
              <div class="cart-item-name">
                <span><%= order.itemName %> x <%= order.Qty %></span>
                <input type="hidden" name="id" value="<%= order.itemID %>" />
                <input type="hidden" name="qty" value="<%= order.Qty %>" />
              </div>
              <div class="cart-item-price">
                <span>$<%= displayDollars(order.price) %></span>
              </div>
          </div>
        <% }); %>
      </section>

        <section class = "costContainer">
        <span id ="cartSubtotal" class="classPrice">Subtotal:<%= displayDollars(subtotal) %> </span> <br>
        <span id ="cartTaxes" class="classPrice">Taxes:<%= displayDollars(subtotal * 0.05) %></span> <br>
        <span id ="cartValue" class="classPrice">Order Total: <%= displayDollars(subtotal * 1.05) %></span> <br>
        <input type="hidden" id="totalprice" name="totalprice" value=<%= (subtotal * 1.05) %>>
      </section>
      
      <h3>Order Contact Information</h3>
      <section>
        <div class="contactForm">
          <label class="label" for="firstName">First Name:</label>
          <input id= "firstName" class="form-control" type="text" name="firstName" />
          <label class="label" for="lastName">Last Name:</label>
          <input id="lastName" class="form-control" type="text" name="lastName" />

          <br />
          <label class="label" for="phoneNumber">Phone Number:</label>
          <input class="label" id="phoneInput" class="form-control" type="text" name="phoneNumber" /><p class="phoneText">Number must be this format: 0123456789</p>
        <div>
          <input id="confirmOrder" class="submit" type="submit" value="Confirm Order" />
        </div></div>
      </section>
    </form>
  </body>
</html>